body {
    font-family: Noto Sans JP;
    overflow-x: hidden;
}

#hoge {
    width: 100%;
    height: 70vh;
    background-image: url(https://nefront.com/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.exagsentence {
    font-size: 30px;
    display: block;
    text-align: center;
}

.hovernefro {
    color: #fff;
    position: relative;
    background: #3054d6;
    border: solid 2px #3054d6;
    transition: 0.3s;
    border-radius: 750pt;
    width: 75pt;
}

.hovernefro,
.hovernefro > span {
    display: inline-block;
    text-align: center;
}

.hovernefro > span {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.hovernefro:hover {
    color: #000;
    background: #fff;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexdiv {
    height: 50%;
}

@media (min-width: 600px) {
    .flexdiv {
        width: 50%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .flexdiv {
        width: 25%;
        height: auto;
    }
}

.contactform {
    color: #fff;
    position: relative;
    background: #3054d6;
    border: solid 2px #3054d6;
    transition: 0.3s;
    border-radius: 750pt;
    width: 2in;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.contactform > span {
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.contactform:hover {
    color: #000;
    background: #fff;
}

.imgs {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}

.svgs {
    height: 140px;
    width: auto;
    padding: 30px;
}

.ushi {
    width: 100%;
    height: 500px;
    background-color: #000;
}

.table {
    display: table;
    margin: 40px auto;
}

.date {
    border-radius: 750pt;
    color: #4d4d4d;
    font-size: 14px;
    background-color: #ccc;
    width: 250px;
    height: 40px;
}

.date,
.title {
    margin: 0 40px 0 0;
}

.title {
    font-size: 25px;
}

.ext {
    height: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news_list {
    margin: 0 5%;
}

.news_list_item {
    padding: 25px 0;
    border-bottom: 1px solid #e6e6e6;
}

.news_list_item:first-child {
    border-top: 1px solid #e6e6e6;
}

.news_list_item a {
    position: relative;
    display: flex;
    padding-right: 30px;
}

.news_list_date {
    font-size: 15px;
    display: flex;
    margin-right: 15px;
    align-items: center;
    display: table;
}

.news_item {
    border-radius: 750pt;
    color: #4d4d4d;
    font-size: 1pc;
    margin: 0 40px 0 0;
    background-color: #ccc;
    width: 130px;
    height: 25px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.arrow {
    width: 25px;
    top: 50%;
}

.arrow,
.arrow:after {
    height: 1px;
    background: #707070;
    position: absolute;
    right: 0;
}

.arrow:after {
    content: '';
    display: block;
    width: 6px;
    transform: rotate(45deg);
    bottom: 2px;
}

@media screen and (max-width: 1024px) {
    .news_list_item a {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .news_list_item a {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .arrow {
        display: none;
    }
    .news_list_item a {
        padding-right: 0;
    }
}

.navi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pseudoElement {
    position: relative;
}

.pseudoElement:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #4d4d4d;
}

.pseudoElement__scale:after {
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform 0.2s ease-out;
    will-change: transform;
}

.textWrapper:hover .pseudoElement__scale:after {
    transform: scaleX(1);
    transform-origin: left top;
}

.textWrapper {
    cursor: pointer;
}

h1 {
    padding: 0 0 30px;
}

canvas {
    display: block;
}

#parent {
    position: relative;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
}

.typeclass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Typewriter__cursor {
    color: #fff;
}

.Typewriter {
    font-size: 60px;
    user-select: none;
}

a:link.sim {
    color: #0000ee;
    text-decoration: underline;
}

a:visited.sim {
    color: #551a8b;
    text-decoration: underline;
}

a:active.sim {
    color: #ff0000;
    text-decoration: underline;
}
