name: GitHub Pages

on:
    push:
        branches:
            - main
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    deploy:
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.workflow }}-${{ github.ref }}
        steps:
            - uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '19'

            - run: yarn --immutable --immutable-cache
            - run: yarn run format:check
            - run: yarn build
            - run: yarn export
            - name: Add nojekyll and CNAME
              run: |
                  touch ./out/.nojekyll
                  cp CNAME ./out/

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              if: ${{ github.ref == 'refs/heads/main' }}
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./out
